<h1>Welcome Robert!</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, ipsum. Alias facilis voluptates minima possimus
  similique aperiam incidunt, consectetur, adipisci ea harum sequi non inventore rerum blanditiis labore. Obcaecati,
  ratione?</p>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Schedule an appointment</h5>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="checkupType">Choose Checkup</label>
                <select id="checkupType" class="form-control">
                  <option selected>Choose...</option>
                  <option>General</option>
                  <option>Skin Cancer</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="appointmentDate">Date of Appointment</label>
                <div class="input-group">
                  <input id="appointmentDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                    #dp="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                      <i class="fas fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="note">Note</label>
            <textarea class="form-control" id="note" rows="3"></textarea>
          </div>
          <button class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        <mwl-calendar-month-view  [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
           (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
      </div>
    </div>
  </div>
</div>
